.dropdown-item.active, .dropdown-item:active {
    color: #ff685c;
}
.custom-control-label {
    cursor: pointer;
}
.show-error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: #ec2d38;
}
.custom-control-label:before {
    border: 1px solid #fe5b6c;
}
.div-margin{
	margin-top: 20px;
}


